@import url(./token.css);

.frontpage {
    /* background-color: tomato; */
    width: 100%;
    min-height: 100vh;
    padding-top: 64px;
    margin-block-end: 3.125rem;
}

.nft {
    text-align: center;
}

.nft-h1 {
    background: var(--h1);
    -webkit-background-clip: text;
    color: transparent;  


    font: var(--title-72bold);
    display: block;
    margin-top: 100px;
}

.nft-actions {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 5rem;
}

.nft-link-cta-blur {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 110px;
    /* height: 50px; */
    padding: 13.2px 0px;
    border-radius: .5rem;
    background: linear-gradient(135deg, rgb(212, 163, 230, .5) 0%,rgb(57, 75, 172, .5) 100%);
    backdrop-filter: blur(5px);  
}

.nft-actions a {
    color: #ffffff;
    font: var(--subtitle-22bold);
    font-size: 18px;
    text-decoration: none;
}

.nft-actions a::selection {
    background: transparent;
}

.nft-link-cta-blur::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    filter: blur(25px);
    transform: translateY(12.5px) scale(.75);
}

.nft-link-cta-blur:hover:nth-child(1), .nft-link-cta-blur:hover:nth-child(1)::before {
    background: linear-gradient(135deg, rgb(212, 163, 230, .5) 0%,rgb(57, 75, 172, .5) 100%);
}

.nft-link-cta-blur:hover:nth-child(2), .nft-link-cta-blur:hover:nth-child(2)::before {
    background: linear-gradient(135deg, rgb(212, 163, 230, .5) 0%,rgb(57, 75, 172, .5) 100%);
}

.nft-link-cta-blur:hover {
    cursor: pointer;
    /* transform: scale(102.5%);
    transition: .3s background-color; */
}

.nft-link-cta-blur:active {
    transform: scale(97.5%);
    transition: .3s transform;
}