.token-offer {
    display: flex;
    background-color: var(--token-card);
    backdrop-filter: blur(5px);
    z-index: 1;
    /* margin: auto; */
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}

.token-offer-left {
    padding: 0 0 0 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}

.token-offer-left-container-top {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.token-offer-description {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.token-offer-tittle {
    font: var(--title-32bold);
    color: var(--grey1);

    inline-size: 20rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.token-offer-collection {    
    font: var(--subtitle-22bold);
    color: var(--grey);
    
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.token-offer-countdown {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.token-offer-countdown-tittle {
    font: var(--subtitle-22bold);
    font-size: 16px;
    color: var(--grey);
}

#cuenta {
    display: flex;
    gap: 17.5px;
}

.simply-section {
	background: var(--primary1);
	width: 40px;
	height: 40px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-section div {
    width: 100%;
}

.simply-amount {
    color: var(--grey1);
	display: block;
    font: var(--subtitle-22bold);
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.simply-word {
    position: absolute;
    font: var(--subtitle-22bold);
    padding: 0;
    margin: 0;
    width: 39px;
    top: 135px;
    margin-left: 46px;
    color: var(--grey1);
}

.token-offer-actions {
    display: flex;
    flex-direction: column;
}

.token-offer-price {
    font: var(--subtitle-22bold);
    font-size: 16px;
    color: var(--grey);
    
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.token-offer-price-number {
    font: var(--subtitle-22bold);
    font-size: 26px;
    color: var(--grey1);
    
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.token-offer-cta-container {
    display: flex;
    gap: 1rem;
}

.token-offer-cta {
    display: flex;
    position: relative;
    border-radius: 8px;
    background: linear-gradient(135deg, rgb(212, 163, 230, .5) 0%,rgb(57, 75, 172, .5) 100%);
    backdrop-filter: blur(5px);  
}

.token-offer-cta-border {
    display: flex;
    position: relative;
    border-radius: 8px;
    border: 3px solid transparent;
    background-image:   linear-gradient( var(--token-offer-cta-border), var(--token-offer-cta-border)),
                        linear-gradient(135deg, rgb(212, 163, 230, .5) 0%,rgb(57, 75, 172, .5) 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    backdrop-filter: blur(5px);  
}

.token-offer-cta a {
    color: #ffffff;
    font: var(--subtitle-22bold);
    font-size: 16px;
    padding: 12.8px 27px;
    text-decoration: none;
}
.token-offer-cta-border a {
    align-items: center;
    background: var(--token-offer-cta-a);
    -webkit-background-clip: text;
    color: transparent;  
    font: var(--subtitle-22bold);
    font-size: 16px;
    padding: 10.8px 27px;
    text-decoration: none;
}

.token-offer-cover {
    display: flex;
    justify-content: right;
    position: relative;
    width: 334px;
    height: 334px;
    overflow: hidden;
    border-radius: 8px;
}

.token-offer-cover video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}