@media (max-width: 1275px) { 
    .product-list-container {
        grid-template-columns: repeat(4, 200px);
    }
}
@media (max-width: 1050px) { 
    .product-list-container {
        grid-template-columns: repeat(3, 200px);
    }
}
@media (max-width: 800px) { 
    .product-list-container {
        grid-template-columns: repeat(2, 200px);
    }
}
@media (max-width: 550px) { 
    .product-list-container {
        justify-content: center;
        grid-template-columns: repeat(1, 200px);
    }
}