.token-top-back {
    display: flex;
    position: relative;
}

.token-cover-back {
    display: flex;
    position: relative;
    width: 90px;
    height: 90px;
    overflow: hidden;
}

.token-cover-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.token-information-back {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 0.625rem;
    gap: .75rem;
    width: 90px;
}

.token-tittle-back {
    font: var(--body-16medium);
    font-size: 20px;
    height: 22.5px;
    background: var(--h1);
    -webkit-background-clip: text;
    color: transparent;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.token-available-back .tittle, .token-available-back .number {
    font: var(--body-16medium);
    background: var(--h1);
    -webkit-background-clip: text;
    color: transparent;  
}

.token-available-back .tittle {
    color: var(--grey);
}

.token-bottom-back {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: .625rem;
}

.token-collection-description {
    display: block;
    font: var(--body-16medium);
    color: var(--grey);

    height: 100px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.owned-container {
    display: flex;
    flex-direction: column;
}

.owned-tittle {
    font: var(--body-16medium);
    color: var(--grey);
}

.owned-name {
    font: var(--body-16medium);
    background: var(--h1);
    -webkit-background-clip: text;
    color: transparent;
}