.token-frontendpage {
    padding: 10px;
    background-color: var(--token-card);
    box-shadow: 0px 7.5px 15px 7.5px rgba(0, 0, 0, .10);
    opacity: 95%;
    filter: blur(.5px);
}

.token-frontendpage:hover {
    cursor: pointer;
    opacity: 100%;
    filter: blur(0px);
    transition: 3s opacity, blur;
}

.token-cover-frontendpage img {
    vertical-align: middle;
    border-radius: 3%;
}



.token-gold-viking-watcher {
    border-radius: 5%;
    position: absolute;
    top: 80px;
    left: 170px;
}

.token-DeadHeads-skulls-troopers-4564 {
    border-radius: 5%;
    position: absolute;
    top: 335px;
    left: 48px;
}

.token-the-bruhz-35 {
    border-radius: 5%;
    position: absolute;
    top: 375px;
    left: 285px;
}

.token-cloneX-15033 {
    border-radius: 5%;
    position: absolute;
    top: 80px;
    left: 950px;
}

.token-meka-701 {
    border-radius: 5%;
    position: absolute;
    top: 335px;
    left: 975px;
}

.token-screwUp-bro-0027 {
    border-radius: 5%;
    position: absolute;
    top: 375px;
    left: 790px;
}

@media screen and (max-width: 1245px) {
    .token-frontendpage {
        display: none;
    }
}