.token-cover {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.token-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.token-bottom {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
}

.token-description {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.token-tittle {
    font: var(--body-16medium);
    color: var(--grey1);
    
    inline-size: 10.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.token-collection {
    font: var(--body-15medium);
    /* color: var(--primary2); */
    color: var(--grey);
    
    inline-size: 10.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.token-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.token-price {
    font: var(--body-14regular);
    background: var(--h1);
    -webkit-background-clip: text;
    color: transparent;  
}