.top-collection {
    display: flex;
    background-color: var(--token-card);
    backdrop-filter: blur(5px);
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}

.top-collection-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    overflow: hidden;
}

.top-collection-top {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}


.top-collection-tittle {
    font: var(--title-32bold);
    color: var(--grey1);
}

.top-collection-date {
    font: var(--subtitle-22bold);
    color: var(--grey);
}

.top-collection-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .75rem;
    height: 244px;
    overflow: hidden;
    /* background: lightcoral; */
    overflow-y: auto;
}

.top-collection-bottom-container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.top-collection-bottom::-webkit-scrollbar-thumb {
    inline-size: 1rem;
    block-size: 4rem;
    background: none;
    /* background-color: var(--scroll); */
}

.top-collection-bottom-collections {
    /* margin: auto; */
    width: 100%;
    height: 50px;
    display: flex;
    padding: 5px 0px 5px 0px;
    /* background: royalblue; */
    gap: .75rem;
    border-radius: .25rem;
}

.top-collection-bottom-collections:hover {
    background-color: var(--scroll);
}

.top-collection-bottom-collections-cover {
    /* background: seagreen; */
    width: 50px;
    height: 50px;
    margin-block: auto;
}

.top-collection-bottom-collections-cover img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.top-collection-bottom-collections-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    /* background-color: seagreen; */
}

.top-collection-bottom-collections-position {
    display: flex;
    align-items: center;
    font: var(--subtitle-22bold);
    font-size: 16px;
    padding-left: 10px;
    height: 50px;
    color: var(--grey);
}

.top-collection-bottom-collections-tittle {
    display: flex;
    align-items: center;
    font: var(--subtitle-22bold);
    font-size: 16px;
    height: 22px;
    color: var(--grey1);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-collection-bottom-collections-number {
    display: flex;
    align-items: center;
    font: var(--subtitle-22bold);
    font-size: 14px;
    height: 18px;
    color: var(--grey);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}