.top-collection {
    display: flex;
    background-color: var(--token-card);
    backdrop-filter: blur(5px);
    z-index: 1;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
}

.top-collection-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.top-collection-top {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}


.top-collection-tittle {
    font: var(--title-32bold);
    color: var(--grey1);
}

.top-collection-date {
    font: var(--subtitle-22bold);
    color: var(--grey);
}

.top-collection-bottom {
    /* display: grid; */
    /* grid-template-columns: repeat(2, 100px); */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: left;
    gap: 12.5px;
    /* background: lightcoral; */
}

.top-collection-bottom-collections {
    /* margin: auto; */
    width: 205px;
    height: 50px;
    display: flex;
    padding: 5px;
    /* background: royalblue; */
    gap: 7.5px;
}
.top-collection-bottom-collections-cover {
    /* background: seagreen; */
    width: 45px;
    height: 45px;
    margin-block: auto;
}
.top-collection-bottom-collections-cover img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.top-collection-bottom-collections-information {
    display: flex;
    flex-direction: column;
    /* background-color: seagreen; */
}

.top-collection-bottom-collections-tittle {
    font: var(--subtitle-22bold);
    font-size: 16px;
    color: var(--grey1);

    inline-size: 9.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-collection-bottom-collections-number {
    font: var(--subtitle-22bold);
    font-size: 14px;
    color: var(--grey);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}